<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <h1>Kanban-доска</h1>
    <div class="board">
        <div class="column" v-for="(col, index) in columns" :key="index">
            <h3>{{ col.title }}</h3>

            <button v-if="index === 0" @click="openModal()" class="add-btn">
                + Добавить задачу
            </button>

            <p class="card-count">Задач: {{ col.cards.length }}</p>
            <task-card
                    v-for="card in col.cards"
                    :key="card.id"
                    :card="card"
                    :column-index="index"
                    @edit="openEditModal"
                    @delete="deleteCard"
                    @move="moveCard"
                    @return="openReturnModal"
            />
        </div>
    </div>

    <div v-if="showModal" class="modal">
        <div class="modal-content">
            <h2>{{ isReturn ? 'Возврат задачи' : (isEdit ? 'Редактировать' : 'Новая задача') }}</h2>
            <div class="form-group">
                <label>Заголовок *</label>
                <input v-model="newCard.title" placeholder="Заголовок">
            </div>
            <div class="form-group">
                <label>Описание *</label>
                <textarea v-model="newCard.description" placeholder="Описание"></textarea>
            </div>
            <div class="form-group">
                <label>Дедлайн *</label>
                <input type="datetime-local" v-model="newCard.deadline">
            </div>
            <div v-if="isReturn" class="form-group">
                <label>Причина возврата *</label>
                <textarea v-model="newCard.returnReason" placeholder="Причина возврата"></textarea>
            </div>
            <div class="modal-actions">
                <button @click="createCard" class="btn-primary">Сохранить</button>
                <button @click="showModal = false" class="btn-danger">Отмена</button>
            </div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>